<!DOCTYPE html>
<html>
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
        <main>
          <section class="app-list" >
            <% apps.forEach(function(applications) {%>
                <div>
                  <%- include('partials/app.ejs',{applications:applications}) %>
                </div>
            <% }) %>
          </section>
        </main>
        <hr>
        <%- include('../partials/scripts.ejs') %>
        
    </body>
</html>