

    <div class="producto" >
        
        <div class="card-body">
          <img src="<%=applications.image_url%>"" class="card-img-top" alt="imagen de producto">
          <div class="card-p">
            <h5 class="card-title"><%= applications.name%></h5>
            <p class="card-text">$<%= applications.price%></p>
          </div>
        </div>
      </div>