
    <nav class="navbar" >
        <div class="logo">
            
            <a class="navbar-brand" href="/" alt="" style="color: black;"><img src="./images/logo-playstore.jpg" style="width: auto; height: 40px;" href="/" alt="">Playstore</a>
            
        </div>

        <div class="buscador">
            <form class="form-inline my-2 my-lg-0" action="/search" method="POST">
                <input class="form-control mr-sm-2" type="search" id="palabra" name="palabra">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form> 
        </div>
        
        <ul>
          <% if(isAuthenticated) { %>
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/users/perfil" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="user-badge">
                  <span class="user-name"><%= user.name%></span>
                </span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/users/logout">Cerrar sesión</a>
                </div>
              </div>  
              <% if(user.user_type == "1") { %>
                <div class="nav-item">
                  <a class="nav-link" href="/apps/admin">Mis APPS</a>
                </div>
              <% } %>
            </div>   
          <% } else { %>
                <li class="nav-item">
                  <a class="nav-link" href="/users/login">Ingresar</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/users/register">Registrarse</a>
                </li>
          <% } %>
        </ul><br>
    </nav>
