
    <nav class="navbar" >
        <div class="logo">
            
            <a class="navbar-brand" href="/" alt=""><img src="./images/logo-playstore.jpg" style="width: auto; height: 40px;" href="/" alt=""></a>
            
        </div>

        <div class="buscador">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form> 
        </div>
        
        <ul>
                <% if(isAuthenticated) { %>
                  
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/users/perfil" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="user-badge">
                        <span class="user-name"><%= user.name%></span>
                      </span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/users/perfil">Modicar datos</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Cerrar sesión</a>
                    </div>
                  </li>
              <% } else { %>
                <li class="nav-item">
                  <a class="nav-link" href="/users/login">Ingresar</a>
                </li>
              <% } %>
              
              <% if(user.user_type == "1") { %>
                <li class="nav-item">
                  <a class="nav-link" href="/crear">Nueva APP</a>
                </li>
                <% } %>
              
               
        </ul>
       
        <br>
    </nav>
