<head>
    <title>Playstore</title>
    <!-- Bootstrap Grid Styleshe4et -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- CSS Style -->
    <link rel='stylesheet' href="/public/stylesheets/style.css" />
</head>