* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar{
  display: flex;
}
#cards{
  background-color: lightgrey;
  justify-content: space-around;
}
#card{
  height: 50px;
}

/*---card app----*/

.app-box {
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  transition: 300ms;
  margin: 20px 0;
}

.app-box a {
  display: block;
}

.app-box_image {
  border-bottom: 1px solid var(--light-gray);
  display: flex;
}
.app-box_image img{
  width: 100%;
}

.app-box_data {
  padding: 15px;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.app-box_data h2 {
  font-size: 2.4em;
  font-weight: 300;
  margin: 0;
}

.app-box_data span {
  font-size: 1.5em;
  font-weight: 300;
  color: var(--green);
  margin: 0 0 0 10px;
}

.app-box_data p {
  font-size: 1.5em;
  width: 100%;
  color: var(--gray);
  margin: 0;
  height: 0;
  transition: 300ms;
  overflow: hidden;
}

.app-box_data i {
  color: var(--green);
  font-size: 1.8em;
  width: 35px;
  height: 35px;
  text-align: center;
  border: solid 1px;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  right: 15px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms;
}

.app-box:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.app-box:hover p {
  height: 40px;
  margin-top: 15px;
}

.app-box:hover i {
  transform: rotate(360deg);
  box-shadow: 0 0 5px var(--green);
}

