* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar{
  display: flex;
}
#cards{
  background-color: lightgrey;
  justify-content: space-around;
}
#card{
  height: 50px;
}